
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>ohs aggregator test</title>
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

	<ol id="feed" class="socialitems l-grid">
	</ol>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script src="js/jquery.masonry.min.js"></script>
	<script src="js/jquery.imagesloaded.min.js"></script>

	<script type="text/javascript">
		$(function(){

			var PIPE_URL = "http://pipes.yahoo.com/pipes/pipe.run?_id=9d9e40c2b0589de762a385e4312ce535&_render=json&numItems=15";

			$.getJSON(PIPE_URL, function(data) {

				var twitter_template = $("#twitter_template").html();
				var facebook_template = $("#facebook_template").html();
				var instagram_template = $("#instagram_template").html();

				_.each(data.value.items,function(i){

					i = _.extend(i, {
						'date': new Date(i.pubDate)
					});

					switch(i.author){
						case "twitter":
							$("#feed").append(_.template(twitter_template,{i:i}));
							break;
						case "facebook":
							$("#feed").append(_.template(facebook_template,{i:i}));
							break;
						case "instagram":
							$("#feed").append(_.template(instagram_template,{i:i}));
							break;
						default:
					}
    			});

    			var $container = $('#feed');
    			$container.imagesLoaded(function(){
					$container.masonry({
						itemSelector : '.socialitem',
						isFitWidth: true
						// columnWidth: 330
					});
				});
			});
		});
	</script>

	<script type="text/html" id='twitter_template'>
        <li class="socialitem socialitem-twitter">
        	<h3 class="socialitem-title"><%= i.title %></h3>
        	<time datetime="<%= i.date.toISOString() %>" pubdate class="socialitem-publishdate">
        		<%= i.date.toDateString() %>
        	</time>
        </li>
	</script>

	<script type="text/html" id='facebook_template'>
        <li class="socialitem socialitem-facebook">
	    	<h3 class="socialitem-title"><%= i.title %></h3>
	    	<time datetime="<%= i.date.toISOString() %>" pubdate class="socialitem-publishdate">
	    		<%= i.date.toDateString() %>
	    	</time>
		</li>
	</script>

	<script type="text/html" id='instagram_template'>
        <li class="socialitem socialitem-instagram">
	        <img src="<%= i['media:content'].url %>" />
	        <h3 class="socialitem-title"><%= i.title %></h3>
	        <time datetime="<%= i.date.toISOString() %>" pubdate class="socialitem-publishdate">
	        	<%= i.date.toDateString() %></time>
	    </li>
	</script>

</body>
</html>
